.container div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: burlywood;
  height: 280px;
  width: 740px;
  margin: 70px auto;
  border-radius: 20px;
}