.container .card {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  border: 2px solid blueviolet;
  background-color: burlywood;
  /* height: 400px;
  width: 300px; */
  padding: 15px;
  text-align: center;
  margin: 20px;
}

.card button, .container button {
  border: none;
  border-radius: 10px;
  height:45px;
  width: 100px;
  background: blueviolet;
  font-weight: 750;
  margin: 15px 5px;
  }

  .inputContainer {
    display: flex;
    flex-direction: row;
    margin: 100px;
    /* border: 2px solid blueviolet;
    background-color: burlywood; */
  }