.container form {
  background-color: burlywood;
  align-items: center;
  justify-content: center;
  border: 2px solid blueviolet;
  padding: 10px;
  width: 300px;
  margin: 80px auto;
}

.container label {
  margin: 6px 10px;
}

.container h1 {
  text-align: center;
  margin-top: 80px;
}

.container button {
  border: none;
  border-radius: 10px;
  height:30px;
  width: 90px;
  background: blueviolet;
  font-weight: 750;
  margin: 15px;
  font-size: 16px;
  }

  @media screen and (max-width: 800px) {
    .container form {
      display: flex;
      flex-direction: column;
    }
  }