.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.label,
.button {
  margin-right: 0.5rem;
}

.inputContainer {
  margin-bottom: 1rem;
}

.inputContainer button {
  border: none;
  border-radius: 10px;
  background: blueviolet;
  height: 40px;
  width: 100px;
  margin-left: 10px;
  font-weight: 700;
  font-size: 16px;
}